<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

<body>

    <center>

        <br><br>
        <form action="/" method="post">
            Input a word to inspire the poem generator. No spaces or punctuation; unfortunately, it doesn't find those inspirational. <br><input name="source_word" type="text" /><br>
            <input value="Create a poem" type="submit" />
        </form>


        <h2><i>Please be patient -- art takes time. Occasionally up to 3 minutes.</i></h2>

        <br><br>Code that runs this site can be found <a href='https://github.com/jzettac/poetry-generation-site'>here</a> on GitHub.

    </center>

</body>